.cardContainer {
  padding: 30px;

  .ListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .cardList {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
